.trades-header{
    text-align:center
}

.trades-header h1{
    font-family: 'Kodchasan', sans-serif;
}

.trades-header span{
    font-family: 'KoHo', sans-serif;
    font-size:1.25rem;
    position:relative;
    bottom:10px;
    padding:5px 5px 10px;
}

.trades-body{
    margin:40px 0;
}

.trade-container{
    background:#E23F35;
}

.trade-header{
    background:#E23F35;
    text-align:center;
}

.trade-header span{
    color:#FBF6EF;
    font-family: 'KoHo', sans-serif;
    font-size:1.25rem;
}

.trade-label{
    font-family: 'Kodchasan', sans-serif;
    font-size:1.25rem;
    font-weight:700;
}

img.trade-cover{
    min-height:100%;
}

.trade-rec-detail{
    color:#FBF6EF;
    font-family: 'KoHo', sans-serif;
    font-size:1.25rem;
    margin-top:4px;
}

.trade-information{
    background:#FBF6EF;
}

.trade-information .row:first-child{
    margin-top:15px;
}

.info-title{
    font-family: 'Kodchasan', sans-serif;
    font-size:1.25rem;
    font-weight:700;
    color:#E23F35;
}

.info-detail{
    font-family: 'KoHo', sans-serif;
    font-size:1.25rem;
}

.trades-page hr{
    width:40%;
    border-top:0;
    border-left:0;
    border-right:0;
    border-bottom:1px solid #E23F35;
    margin-bottom:20px;
}

.trade-contents{
    display:flex;
    align-items:center;
}

@media screen and (max-width:600px){
    .info-detail{
        text-align:center;
        font-size:1.5rem;
    }

    .trade-rec-detail{
        font-size:1.5rem;
    }

    .trade-header span{
        font-size:2rem;
    }
}

@media screen and (min-width:600px) and (max-width:992px){
    .trade-rec-detail{
        font-size:1.25rem;
    }
}

@media screen and (max-width:992px){
    .trades-body{
        width:80%;
        margin:0 auto 40px;
    }

    .trade-rec-row{
        text-align:center;
        padding-bottom:10px;
    }

    .trade-rec-row:first-child{
        margin-top:15px;
    }

    .trade-rec-row:nth-child(4){
        border-bottom:0;
    }

    .trades-page hr{
        width:70%;
    }

    .trade-contents{
        display:block;
    }

    .trade-header span{
        font-size:1.625rem;
    }
}