html {
    scroll-behavior: smooth;
}

.user-home-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:#201F1B;
    overflow:hidden;
    font-family: 'KoHo', sans-serif;
    font-size: calc(10px + 1.25vmin);
}

a{
    color:#E23F35;
    display: block;
    width: 100%;
    
}

.home-header{
    /* display: flex;
    justify-content:center;
    align-items:center; */

}

.headshot-div{
    margin: 25px 0px 25px 0px;
}

.headshot{
    border-radius: 50%;
    position:absolute;
    /* z-index: 1; */
}

.banner{
    display:flex;
    justify-content:flex-start;
}

.banner-contents{
    margin-top:15px;
    background-color: #FBF6EF;
    width:90%;
    float:right;
    min-height:170px;
    padding:25px 0 0 45px;
}

.banner-contents h2{
    margin:0;
}

/* small screen */
@media screen and (max-width:600px){
    .home-header{
        margin-top:40px;
    }
    
    .dashboard-item{
        margin: 15px;
    }

    .dashboard-item-label{
        background-color: #999;
        height: 40px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 12px;
    }

    .headshot{
        position:static;
    }
    
    .banner{
        justify-content:center;
    }
}

/* medium screen and up */
@media screen and (min-width:601px){
    .banner{
        margin-top: 50px;
    }
    .dashboard{
        margin-top: 25px;
    }

    .dashboard-item-label{
        background-color: #999;
        height: 40px;
        width: 100%; 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 12px;
        /* margin: 12px; */
    }

    .headshot{
        width:200px;
    }
}

.navOptions{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    /* try to make navbar stay when scrolling */

}
.navOption{
    width: 100%;
    background-color: #FBF6EF;
    height: 50px;
    transition: background-color 0.4s ease-in;
}

.navOption a{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.4s ease-in;
}


.navOption:hover{
    background-color:#1eabc4;
    transition: background-color 0.2s ease-in
}

.navOption:hover a{
    color:white;
    transition: color 0.2s ease-in
}

.dashboard{
    /* margin: 25px; */
}

.dashboard-item{
    /* height: 200px; */
    background-color:  #FBF6EF;
    /* border-bottom: 1px #201F1B solid; */
    /* display: flex;
    position: relative; */
    /* padding-left: 12px; */
}

.dashboard-subinfo{
    font-size: calc(7px + 1.25vmin);
}

.dashboard-item-content{
    margin: 12px 0 0 0;
}

.dashboard-item-details{
    
}

.dashboard-item-link{
    background-color: #E23F35;
    height: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dashboard-item-link a{
    color: #FBF6EF;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard-item-link a:hover{
    color:#006D80;
    transition:color 0.2s ease-in;
}

@media screen and (min-width:601px) and (max-width:992px){
    .banner-contents{
        padding:35px 0 0 115px;
    }

    .banner-contents h2{
        font-size:3rem;
    }
}

/* .line{
    border-bottom: 1px solid black;
    display: block;
    position: absolute;
    bottom: 0;
    width: 95%;
    height: 1px;
    margin-left: 2.5%;
} */

/* 600
992
1200 */

/* font{
    color: #515151;
    color: #3f3f3f;
    color: #999;
    color: #313131;
    color: rgba(0,0,0,.25);
    color: #222;
    color: #2a2a2a;
} */
