.nav-bar{
    background:#201F1B;
    color:#FBF6EF;
    padding:5px;
    display:flex;
    flex-direction:row; 
    z-index:4;
}

.nav-bar-mobile{
    background:#201F1B;
    color:#FBF6EF;
    padding:5px;
    display:flex;
    flex-direction:column;
    z-index:1;
    align-items:center;
}

.nav-bar-mobile i{
    color:#FBF6EF;
    font-size:3rem;
}

.navs{
    display:flex;
    position:absolute;
    right:0;
}

.mobile-navs{
    display:none;
}

.navs li{
    margin:5px 10px 0;
    font-family: 'KoHo', sans-serif;
}

.navs li a, .mobile-navs li a{
    color:#FBF6EF;
    transition:color 0.5s ease-out;
}

.mobile-navs li a{
    font-size:2rem;
    font-family: 'KoHo', sans-serif;
}

.navs li a:hover, .mobile-navs li a:hover{
    color:#E23F35;
    transition:color 0.2s ease-in;
}

button.menu-btn{
    background:none;
    border:none;
}

.mobile-navs{
    text-align:center;
}

@media screen and (max-width:600px){
    .nav-bar{
        align-items:center;
    }
}